.discord-card-outer-body {
  width: 320px;
  background: #0000008c;
  backdrop-filter: blur(10px);
  border-radius: 0 0 8px 8px;
  padding: 30px 2px 2px 2px;
  margin: 0 4px 4px 4px;
}

.discord-card-inner-body {
  width: 300px;
  background: #0000008c;
  border-radius: 6px;
  padding: 12px 16px 16px 16px;
  margin: 20px auto 10px auto;
}
