.discord-member-since-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.member-since-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.discord-member-since-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #4b4b4b;
}
