.discord-card-spotify-button {
  display: block;
  width: 100%;
  background-color: #383838;
  padding: 6px 4px;
  text-align: center !important;
  margin-top: 6px !important;
  border-radius: 6px;
  color: white !important;
}

.discord-card-spotify-button:hover {
  background-color: #484848;
  color: white;
}

.discord-card-activity-header {
  display: flex;
  justify-content: space-between;
}

.discord-card-activity-header img {
  width: 20px;
  height: 20px;
  user-select: none;
}

.discord-card-activity-body {
  display: flex;
  align-items: center;
  gap: 12px;
}

.discord-card-activity-body > div img {
  width: 65px;
  height: 65px;
  border-radius: 6px;
  user-select: none;
  object-fit: cover;
}

.discord-card-activity-body p {
  font-size: 0.8rem;
}

.discord-card-activity-title {
  font-weight: 700;
}

.discord-card-activity-flex-container {
  display: flex;
  gap: 3px;
}

.discord-card-activity-relative-container {
  position: relative;
  align-items: center;
  justify-items: center;
}

.discord-card-activity-absolute-img {
  position: absolute;
  bottom: 0;
  right: -6px;
  width: 20px !important;
  height: 20px !important;
  border-radius: 100% !important;
}
