.discord-status-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.discord-status-image {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
}

.discord-status-text {
  font-size: 0.95rem;
  text-align: start;
}
