/* General Styling */
:root {
    --primary-color: #007777;
    --accent-color: #8500d3;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.text {
    color: white;
    margin: 0;
    padding: 0;
    text-align: start;
}

.discord-card-separator {
    width: 100%;
    height: 1px;
    background-color: #282828;
    margin: 12px 0;
}

/* Containers */

.discord-card {
    margin: 0;
    padding: 0;
}

.discord-card-border {
    width: 328px;
    /* Make the color customizable */
    background: linear-gradient(to bottom, var(--primary-color), var(--accent-color));
    border-radius: 8px;
}

.discord-card-outer-body {
    width: 320px;
    /* background-color: #282828; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    backdrop-filter: blur(10px);
    border-radius: 0 0 8px 8px;
    padding: 30px 2px 2px 2px;
    margin: 0 4px 4px 4px;
}

.discord-card-inner-body {
    width: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    border-radius: 6px;
    padding: 16px;
    margin: 20px auto;
}

.discord-badges-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 12;
    bottom: -36px;
    right: 14px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 6px;
}

/* Profile picture section */
.discord-banner-container {
    padding: 0;
    margin: 0;
    width: 328px;
    position: relative;
}

.discord-profile-picture-border {
    position: absolute;
    z-index: 10;
}

.discord-profile-picture {
    top: 65px;
    left: 20px;
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--primary-color) 61%, transparent 39%);
    padding: 3px;
}

.discord-banner-image {
    width: 100%;
    padding: 4px 4px 0px 4px;
    margin-bottom: -6px;
    border-radius: 8px 8px 0px 0px;
}

.discord-badge {
    width: 28px;
    height: 28px;
}

/* Information (text) */

.discord-card-displayname {
    font-size: 1.4rem;
    margin-bottom: 1px;
}

.discord-card-username {
    font-size: 1rem;
    margin-bottom: 12px;
}

/* Status */

.discord-status-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.discord-status-image {
    width: 20px;
    height: 20px;
}

.discord-status-text {
    font-size: 1rem;
    text-align: start;
}

