/* General Styling */
:root {
    --primary-color: #007777;
    --accent-color: #8500d3;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.discord-link {
    color: #237fd5;
    text-align: start;
    display: block;
}

.discord-link:hover {
    text-decoration: underline;
    color: #237fd5;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    margin: 0;
    padding: 0;
    text-align: start;
}

ul {
    margin: 0;
    padding: 0;
}

.discord-card-separator {
    width: 100%;
    height: 1px;
    background-color: #5a5757;
    margin: 12px 0;
}

/* Containers */

.discord-card {
    margin: 0;
    padding: 0;
}

.discord-card-border {
    width: 328px;
    /* Make the color customizable */
    background: linear-gradient(to bottom, var(--primary-color), var(--accent-color));
    border-radius: 8px;
}

.discord-card-outer-body {
    width: 320px;
    /* background-color: #282828; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    backdrop-filter: blur(10px);
    border-radius: 0 0 8px 8px;
    padding: 30px 2px 2px 2px;
    margin: 0 4px 4px 4px;
}

.discord-card-inner-body {
    width: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    border-radius: 6px;
    padding: 16px;
    margin: 20px auto 10px auto;
}

.discord-badges-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 12;
    bottom: -36px;
    right: 14px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 6px;
}

.discord-card-roles-section {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

/* Profile picture section */
.discord-banner-container {
    padding: 0;
    margin: 0;
    width: 328px;
    position: relative;
}

.discord-profile-picture-border {
    position: absolute;
    z-index: 10;
}

.discord-profile-picture {
    top: 65px;
    left: 20px;
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--primary-color) 61%, transparent 39%);
    padding: 3px;
}

.discord-banner-image {
    width: 100%;
    padding: 4px 4px 0px 4px;
    margin-bottom: -6px;
    border-radius: 8px 8px 0px 0px;
}

.discord-badge {
    width: 28px;
    height: 28px;
}

/* Information (text) */

.discord-card-basic-info {
    margin-bottom: 8px;
}

.discord-card-displayname {
    font-size: 1.25rem;
    margin-bottom: 1px;
}

.discord-card-username {
    font-size: 0.95rem;
    margin-bottom: 1px;
}

.discord-card-pronouns {
    font-size: 0.9rem;
}

.discord-card-section {
    margin-bottom: 10px;
}

.discord-card-section h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.discord-card-section p, .discord-card-section a {
    font-size: 0.88rem;
    text-align: start;
    margin: 0;
}

/* Status */

.discord-status-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.discord-status-image {
    width: 20px;
    height: 20px;
}

.discord-status-text {
    font-size: 0.95rem;
    text-align: start;
}

/* Member Since */
.discord-member-since-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.member-since-icon {
    width: 14px;
    height: 14px;
}

.discord-member-since-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #4b4b4b;
}

/* Roles */
.discord-card-role {
    background-color: rgba(75, 75, 75, 0.55);
    padding: 2px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
    border: 0.5px solid rgba(136, 135, 135, 0.414);
    user-select: none;
}

.discord-card-role p {
    font-size: 0.72rem;
}

.discord-card-role-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

textarea {
    resize: none;
    scrollbar-width: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Notes */
.discord-card-note textarea {
    font-size: 0.8rem;
    padding: 4px;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.discord-card-note textarea:focus {
    outline: none;
}

/* Message */

.message-section textarea {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 0.5px solid var(--accent-color);
    background-color: rgba(75, 75, 75, 0);
    padding: 12px 12px;
    font-size: 0.9rem;
}

.message-section textarea::placeholder {
    color: rgb(178, 177, 177);
}

.message-section textarea:focus {
    outline: none;
}
