@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #292929;
}

.lighten:hover {
  filter: brightness(1.1);
}